{% extends 'quatroestacoes/base.html' %}

{% block active_avisos %}active{% endblock active_avisos %}
{% block titulo %}Criar aviso{% endblock titulo %}

{% block conteudo %}
<div class="container-div-form-morador">
    <div class="container-form-morador">   
        <form method="post">{% csrf_token %}
            <h3>CRIAR AVISO</h3>
            <span>{{ form.as_p }}</span>
            <div class="container-cadastrar-morador">
                <input type="submit" value="Criar aviso">
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}
