{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Deletar aviso{% endblock titulo %}

{% block conteudo %}
    <div class="container-form"> 
        <form method="post">{% csrf_token %}
            <p style="text-align: center; font-size: 17px">Deseja mesmo apagar o aviso "<span>{{ aviso.assunto }}</span>"?</p>
            {{ form.as_p }}
            <button type="submit" class="btn-deletar">Apagar</button>
        </form>
    </div>
{% endblock conteudo %}