{% extends 'quatroestacoes/base.html' %}
{% block titulo %}Aviso{% endblock titulo %}

{% block conteudo %}
    <div class="container-form">
        <h3>AVISO</h3>
        <p><span>ASSUNTO: </span>{{ aviso.assunto }}</p>
        <p><span>CORPO: </span>{{ aviso.corpo }}</p>
        <p><span>DATA DE POSTAGEM: </span>{{ aviso.data_postagem }}</p>
        {% if aviso.data_evento != None %}
            <p><span>DATA DO EVENTO: </span>{{ aviso.data_evento }}</p>
        {% endif %}
    </div>
{% endblock conteudo %}
