{% extends 'quatroestacoes/base.html' %}

{% block active_avisos %}active{% endblock active_avisos %}
{% block titulo %}Avisos{% endblock titulo %}

{% block conteudo %}
<div class="container-pagina-outros">
    <div class="container-criar">
        <a href="{% url 'quatroestacoes:avisos_add' %}" class="btn-acao">Criar aviso</a>
        <br><br>
    </div>
    <div class="container-lista">
        {% if avisos %}
            <ul style="padding: 0;">
                {% for aviso in avisos %}
                    <a href="{% url 'quatroestacoes:avisos_info' aviso.id %}">
                        <li class="item-lista">
                            <span>
                                {{ aviso.data_postagem }}<br><br>
                                <span style="font-size: 1.2em;">{{ aviso.assunto }}</span>
                            </span><br>
                            {{ aviso.corpo|truncatechars:70 }}<br><br>
                            {% if aviso.data_evento != None %}
                                Acontecerá em <span>{{ aviso.data_evento }}</span><br><br>
                            {% endif %}
                        </li>
                    </a>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum aviso disponível</p>
        {% endif %}
    </div>
</div>
{% endblock conteudo %}
