{% extends 'quatroestacoes/base.html' %}

{% block active_avisos %}active{% endblock active_avisos %}
{% block titulo %}Avisos{% endblock titulo %}

{% block conteudo %}
<div class="card mb-2">
  <div class="card-header text-center">
    <h3 class="mt-2">AVISOS</h3>
  </div>
  {% if avisos %}
  <ul class="list-group list-group-flush">
    {% for aviso in avisos %}
    <li class="list-group-item card-aviso">
      <div class="card-body">
        <h3 class="card-title">{{ aviso.assunto }}</h3>
        <p class="card-text">{{ aviso.corpo|truncatechars:40 }}</p>
        {% if aviso.data_evento != None %}
          <p>Acontecerá em {{ aviso.data_evento|date:"d/m/Y" }}</p>
        {% endif %}
        <a class="stretched-link" href="{% url 'quatroestacoes:avisos_info' aviso.id %}"></a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  Nenhum aviso disponível
  {% endif %}
</div>
{% endblock conteudo %}
