{% extends 'quatroestacoes/base.html' %}

{% block active_avisos %}active{% endblock active_avisos %}
{% block titulo %}Avisos{% endblock titulo %}

{% block conteudo %}
<div class="container-pagina-outros">
    <div class="container-criar">
        <a href="{% url 'quatroestacoes:avisos_add' %}" class="btn-acao">Criar aviso</a>
        <br><br>
    </div>
    <div class="container-lista">
        {% if avisos %}
            {% for aviso in avisos %}
                <p style="border-bottom: 1px solid #694C00;">
                    {{ aviso.data_postagem }} - {{ aviso.assunto }}<br>
                    {{ aviso.corpo }}<br>
                    {{ aviso.data_evento }}
                    <br><br>
                </p>
                <br>
            {% endfor %}
        {% else %}
            <p>Nenhum aviso disponível.</p>
        {% endif %}
    </div>
</div>
{% endblock conteudo %}
