{% extends 'quatroestacoes/base.html' %}

{% block active_reunioes %}active{% endblock active_reunioes %}
{% block titulo %}Reunião{% endblock titulo %}

{% block conteudo %}
    <div class="container-form">
        <h3>REUNIÃO</h3>
        <p><span>ASSUNTO: </span>{{ reuniao.assunto }}</p>
        <p><span>DATA: </span>{{ reuniao.data }}</p>
        {% if request.user.is_staff %}
            <br>    
            <a class="btn-acao" href="{% url 'quatroestacoes:reunioes_upd' reuniao.id %}">Alterar</a> <a class="btn-deletar" href="{% url 'quatroestacoes:reunioes_del' reuniao.id %}">Deletar</a>
            <br>
            <br>
        {% endif %}
    </div>
{% endblock conteudo %}