{% extends 'quatroestacoes/base.html' %}

{% block active_reunioes %}active{% endblock active_reunioes %}
{% block titulo %}Reuniões{% endblock titulo %}

{% block conteudo %}
<div class="card mb-2">
  <div class="card-header text-center">
    <h3 class="mt-2">REUNIÕES</h3>
  </div>
  {% if reunioes %}
  <ul class="list-group list-group-flush">
    {% for reuniao in reunioes %}
    <li class="list-group-item card-aviso">
      <div class="card-body">
        <h3 class="card-title">{{ reuniao.assunto|truncatechars:25 }}</h3>
        <p>{{ reuniao.data|date:"d/m/Y" }}</p>
      </div>
      <a class="stretched-link" href="{% url 'quatroestacoes:reunioes_info' reuniao.id %}"></a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  Nenhuma reunião disponível
  {% endif %}
</div>
{% endblock conteudo %}
