{% extends 'quatroestacoes/base.html' %} 

{% load static %} 

{% block titulo %}Calendário{% endblock titulo %} 
{% block active_calendario %}active{% endblock active_calendario %} 

{% block conteudo %}
<link rel="stylesheet" href="{% static 'quatroestacoes/calendario/css/calendario.css' %}">

<div class="btn-group btn-group-lg d-flex justify-content-between align-items-center" role="group">
  <button class="btn btn-outline-dark prev" type="button"><-</button>
  <button class="btn btn-outline-dark mes" type="button" disabled ></button>
  <button class="btn btn-outline-dark next" type="button">-></button>
</div>

{{ eventos|json_script:"eventos" }}
<script defer src="{% static 'quatroestacoes/calendario/js/calendario.js' %}"></script>
{% endblock conteudo %}
