{% extends 'quatroestacoes/base.html' %}
{% block titulo %}Home{% endblock titulo %}

{% block active_home %}active{% endblock active_home %}

{% comment %} {% block conteudo %}
    <div class="container-home">
        <div class="info-comunicados">
            <h3>QUADRO DE AVISOS</h3>
            <div class="container-avisos-home">
                {% if avisos %}
                    {% for aviso in avisos %}
                        <div class="aviso-home" id="aviso-home-{{ forloop.counter }}">
                            <a href="{% url 'quatroestacoes:avisos_info' aviso.id %}">
                                <span>
                                    {{ aviso.data_postagem|date:"d/m/Y" }}<br><br>
                                    <span style="font-size: 1.2em;">{{ aviso.assunto }}</span>
                                </span><br>
                                <p>{{ aviso.corpo|truncatechars:40 }}</p><br><br>
                                {% if aviso.data_evento != None %}
                                    <p>Acontecerá em <br><span>{{ aviso.data_evento|date:"d/m/Y" }}</span></p>
                                {% else %}
                                    <p>Acontecerá em <br><span>Sem data marcada<span></p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
            {% else %}
                <p>Nenhum aviso disponível</p>
            {% endif %}
            </div>

        </div>
    
        <div class="info-salao">
            <h3>SALÃO DE FESTAS</h3>
            {% if reservas %}
                <ul class="container-salao-home">
                {% for reserva in reservas %}
                    {% if reserva.data >= data_atual %}
                        <li style="border-bottom: 1px solid #694C00;">
                            <span>{{ reserva.data }}</span><br>
                            {{ reserva.morador.first_name }} {{ reserva.morador.last_name }}<br><br>
                        </li><br>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <p>Nenhuma reserva disponível</p>
            {% endif %}
        </div>
    </div>
{% endblock %} {% endcomment %}

{% block conteudo %}
<div class="card mb-2">
  <div class="card-header text-center">
    <h1 class="display-6">QUADRO DE AVISOS</h1>
  </div>
  {% if avisos %}
  <ul class="list-group list-group-flush">
    {% for aviso in avisos %}
    <li class="list-group-item card-aviso">
      <div class="card-body">
        <h3 class="card-title">{{ aviso.assunto }}</h3>
        <p class="card-text">{{ aviso.corpo|truncatechars:40 }}</p>
        {% if aviso.data_evento != None %}
          <p>Acontecerá em {{ aviso.data_evento|date:"d/m/Y" }}</p>
        {% endif %}
        <a class="stretched-link" href="{% url 'quatroestacoes:avisos_info' aviso.id %}"></a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  Nenhum aviso disponível
  {% endif %}
</div>

<div class="card">
  <div class="card-header text-center">
    <h1 class="display-6">SALÃO DE FESTAS</h1>
  </div>
  {% if reservas %}
  <ul class="list-group list-group-flush">
    {% for reserva in reservas %}
      {% if reserva.data >= data_atual %}
        <li class="list-group-item card-aviso">
          <div class="card-body">
            <h5 class="card-title">{{ reserva.data }}</h5>
            <h6 class="card-text">{{ reserva.morador.first_name }} {{ reserva.morador.last_name }}</h6>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  Nenhuma reserva disponível
  {% endif %}
</div>
{% endblock conteudo %}
