body {
  background: linear-gradient(rgba(219, 204, 167, 1), rgba(255, 255, 255, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1vh;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
  background-color: #ffe495;
}

.logo-navbar {
  width: 6vh;
}

.dropdown-menu {
  background-color: #fff1c9;
}

.dropdown-item.active {
  background-color: transparent;
  color: black;
  font-weight: bold;
}

.nav-link.active {
  color: black;
  font-weight: bold;
}

.card-aviso {
  background-color: #fff2cb;
}

.card-header {
  background-color: #ffe7a2;
}

.card {
  margin-bottom: 1vh;
}

#nav-bloco-a-tab.active {
  background-color: rgba(255, 0, 191, 0.20);
}

#nav-bloco-b-tab.active {
  background-color: rgba(255, 247, 0, 0.25);
}

#nav-bloco-c-tab.active {
  background-color: rgba(0, 255, 4, 0.20);
}

#nav-bloco-d-tab.active {
  background-color: rgba(0, 0, 255, 0.20);
}

#nav-bloco-a-tab, #nav-bloco-b-tab, #nav-bloco-c-tab, #nav-bloco-d-tab {
  color: black;
}

.card-morador-a {
  background-color: rgba(255, 0, 191, 0.15);
}

.card-morador-b {
  background-color: rgba(255, 247, 0, 0.15);
}

.card-morador-c {
  background-color: rgba(0, 255, 4, 0.15);
}

.card-morador-d {
  background-color: rgba(0, 0, 255, 0.15);
}

.btn-submit {
  background-color: #ffe189;
  border: 1px solid black;
}

.btn-adicionar {
  background-color: #eac556;
  color: black;
  border: 1px solid grey;
  font-size: large;
}

.card {
  background-color: #fff2cb;
}

@media screen and (min-width: 1400px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
}