body {
  background: linear-gradient(rgba(219, 204, 167, 1), rgba(255, 255, 255, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1vh;
}

.navbar {
  background-color: #ffe495;
}

.logo-navbar {
  width: 6vh;
}

.dropdown-menu {
  background-color: #fff1c9;
}