{% extends 'quatroestacoes/mudar-senha/base.html' %}

{% block conteudo %}
<div class="container-form">
    <form method="post">{% csrf_token %}
        <h3>NOVA SENHA</h3>
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            <p><span>{{ field.label_tag }}</span> {{ field }}<br></p>
        {% endfor %}<br>
        {{ form.new_password1.help_text }}
        <button type="submit" class="btn-acao">Alterar senha</button>
    </form>
</div>
{% endblock conteudo %}