{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Adicionar morador{% endblock titulo %}

{% block conteudo %}
<div class="container-div-form-morador">
    <div class="container-form-morador">    
        <form method="post">{% csrf_token %}
            <h3>CADASTRAR MORADOR</h3>
            <span>{{ form.as_p }}</span>
            <div class="container-cadastrar-morador">
                <input type="submit" value="Adicionar novo morador">
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}