{% extends 'quatroestacoes/base.html' %}

{% load static %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Adicionar morador{% endblock titulo %}

{% block conteudo %}
    <div class="container-form">    
        <form method="post">{% csrf_token %}
            <h3>CADASTRAR MORADOR</h3>
            <span>{{ form.as_p }}</span>
            <button type="submit" class="btn-acao">Adicionar novo morador</button>
        </form>
    </div>
    <script src="{% static 'quatroestacoes/moradores/moradores.js' %}" ></script>

{% endblock conteudo %}