{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Alterar morador{% endblock titulo %}

{% block conteudo %}
<div class="container-div-form-morador">
    <div class="container-form-morador">    
        <form method="post">{% csrf_token %}
            <h3>ALTERAR MORADOR</h3>
            <span>{{ form.as_p }}</span>
            <div class="container-alterar-morador">
                <input type="submit" value="Alterar informações">
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}
