{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Moradores{% endblock titulo %}

{% block conteudo %}
{% if morador %}
<div class="card">
  <div class="card-header">
    <h1 class="mb-0 p-2 ps-1"><strong>{{ morador.first_name }} {{ morador.last_name }}</strong></h1>
  </div>
  <ul class="list-group list-grou-flush">
    <li class="list-group-item p-3">BLOCO: <strong>{{ morador.bloco }}</strong></li>
    <li class="list-group-item p-3">APARTAMENTO: <strong>{{ morador.apartamento }}</strong></li>
    <li class="list-group-item p-3">INTERFONE: <strong>{{ morador.interfone }}</strong></li>
  </ul>
</div>
{% else %}
<p>Morador indisponível</p>
{% endif %} 
{% endblock conteudo %}
