{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}
{% block titulo %}Moradores{% endblock titulo %}

{% block conteudo %}
{% if morador %}
        <div class="container-form">
            <h3>INFORMAÇÕES DO MORADOR</h3>
            <p>NOME: <span>{{ morador.first_name }}</span><br></p>
            <p>SOBRENOME: <span>{{ morador.last_name }}</span><br></p>
            <p>BLOCO: <span>{{ morador.bloco }}</span><br>
            <p>APARTAMENTO: <span>{{ morador.apartamento }}</span><br></p>
            <p>INTERFONE: <span>{{ morador.interfone }}</span><br></p>
            {% if request.user.is_staff %}
                <p>CELULAR: <span>{{ morador.celular }}</span><br></p>
                <p>EMAIL: <span>{{ morador.email }}</span><br></p>
            {% endif %}

        {% if request.user.is_staff %}
            <br>    
            <a class="btn-acao" href="{% url 'quatroestacoes:moradores_upd' morador.id %}">Alterar</a> <a class="btn-deletar" href="{% url 'quatroestacoes:moradores_del' morador.id %}">Deletar</a>
            <br>
            <br>
        {% endif %}
        </div>
{% else %}
    <p>Morador indisponível</p>
{% endif %}
{% endblock conteudo %}
