{% if morador %}
    <h3>Nome: {{ morador.nome }}<br></h3>
    <h3>Sobrenome: {{ morador.sobrenome }}<br></h3>
    <h3>Bloco: {{ morador.bloco }}<br></h3>
    <h3>Apartamento: {{ morador.apartamento }}<br></h3>
    <h3>Interfone: {{ morador.interfone }}<br></h3>
    <h3>Celular: {{ morador.celular }}<br></h3>
    <h3>Email: {{ morador.email }}<br></h3>

    <a href="{% url 'quatroestacoes:moradores_upd' morador.id %}">Alterar</a> <a href="{% url 'quatroestacoes:moradores_del' morador.id %}">Deletar</a>
{% else %}
    <p>morador indisponível</p>
{% endif %}