{% extends 'quatroestacoes/base.html' %}

{% block active_moradores %}active{% endblock active_moradores %}

{% block conteudo %}
{% if request.user.is_staff %}
    <a href="{% url 'quatroestacoes:moradores_add' %}">Adicionar morador</a> 
{% endif %}
{% if moradores %}
    <ul>
    {% for morador in moradores %}
        {% if not morador.is_staff %}
            <li><a href="{% url 'quatroestacoes:moradores_info' morador.id %}">{{ morador.first_name }} {{ morador.last_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>nenhum morador disponível</p>
{% endif %}
{% endblock %}