{% extends 'quatroestacoes/base.html' %}

{% block active_salao %}active{% endblock active_salao %}
{% block titulo %}Reservas{% endblock titulo %}

{% block conteudo %}
<div class="card mb-2">
  <div class="card-header text-center">
    <h3 class="mt-2">SALÃO DE FESTAS</h3>
  </div>
  {% if reservas %}
  <ul class="list-group list-group-flush">
    {% for reserva in reservas %}
      <li class="list-group-item card-aviso">
        <div class="card-body">
          <h5 class="card-title">{{ reserva.data }}</h5>
          <h6 class="card-text">{{ reserva.morador.first_name }} {{ reserva.morador.last_name }}</h6>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  Nenhuma reserva disponível
  {% endif %}
</div>
{% endblock conteudo %}