{% extends 'quatroestacoes/base.html' %}

{% block active_salao %}active{% endblock active_salao %}
{% block titulo %}Reservas{% endblock titulo %}

{% block conteudo %}
<div class="container-pagina-outros">
    <div class="container-criar">
        <a href="{% url 'quatroestacoes:reservas_add' %}" class="btn-acao">Reservar salão de festas</a>
        <br><br>
    </div>
    <div class="container-lista">
        {% if reservas %}
            <ul style="padding: 0; text-align: left;">
            {% for reserva in reservas %}
                <li style="border-bottom: 1px solid #694C00;">
                    <span>{{ reserva.data }}</span><br>
                    {{ reserva.morador.first_name }} {{ reserva.morador.last_name }}<br><br>
                </li><br>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma reserva disponível</p>
        {% endif %}
    </div>
</div>
{% endblock conteudo %}