{% extends 'quatroestacoes/base.html' %}

{% block active_reclamacoes %}active{% endblock active_reclamacoes %}
{% block titulo %}Reclamações{% endblock titulo %}

{% block conteudo %}
<div class="card mb-2">
  <a class="btn btn-adicionar" href="{% url 'quatroestacoes:reclamacoes_add' %}">Criar reclamação/sugestão</a>
</div>
<div class="card mb-2">
  <div class="card-header text-center">
    <h3 class="mt-2">RECLAMAÇÕES E SUGESTÕES</h3>
  </div>
  {% if reclamacoes %}
  <ul class="list-group list-group-flush">
    {% for reclamacao in reclamacoes %}
    <li class="list-group-item card-aviso">
      <div class="card-body">
        {% if reclamacao.get_tipo_display == 'Reclamação' %}
          <span style="color: rgb(220, 0, 0)">{{ reclamacao.get_tipo_display|upper }}</span><br>
        {% else %}
          <span style="color: rgb(0, 140, 0)">{{ reclamacao.get_tipo_display|upper }}</span><br>
        {% endif %}
        <h3 class="card-title">{{ reclamacao.assunto }}</h3>
        <p class="card-text">{{ reclamacao.corpo|truncatechars:40 }}</p>
      </div>
      <a class="stretched-link" href="{% url 'quatroestacoes:reclamacoes_info' reclamacao.id %}"></a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  Nenhuma reclamação ou sugestão disponível
  {% endif %}
</div>
{% endblock conteudo %}