{% extends 'quatroestacoes/base.html' %}

{% block active_reclamacoes %}active{% endblock active_reclamacoes %}
{% block titulo %}Reclamações{% endblock titulo %}

{% block conteudo %}
<div class="container-pagina-outros">
    <div class="container-criar">
        <a href="{% url 'quatroestacoes:reclamacoes_add' %}" class="btn-acao">Criar reclamação</a>
        <br><br>
    </div>
    <div class="container-lista">
        {% if reclamacoes %}
            <ul style="padding: 0;">
            {% for reclamacao in reclamacoes %}
                <li style="border-bottom: 1px solid #694C00;">
                    {{ reclamacao.tipo }}<br>
                    {{ reclamacao.data_postagem }} - {{ reclamacao.assunto }}<br>
                    {{ reclamacao.corpo }}
                </li>
            </ul>
            {% endfor %}
        {% else %}
            <p>nenhuma reclamação ou sugestão disponível</p>
        {% endif %}
    </div>
</div>
{% endblock conteudo %}